<h2>About Us</h2>

<div class = "custome">
<div class="card">
  <img src="assets/rajeev.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Rajeev Kumar</b></h4> 
    <p>Sr. Software Engineer</p>
    <p>Contact : +91-9691511496</p>
  </div>
</div>
<div class="card">
  <img src="assets/shujaat.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Shujaat Ali</b></h4> 
    <p>Sr. Software Engineer</p>
    <p>Contact : +91-8979393088</p>
    <a>https://github.com/shujaat786</a>
  </div>
</div>
<br>
<div class="card">
  <img src="assets/atul.jpg" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Atul Pandey</b></h4> 
    <p>Sr. Software Engineer</p>
    <p>Contact : +91-9411355956</p>
    <a>https://github.com/Atul81</a>
  </div>
</div>
</div>
